<!-- Cards — Solid (2 in a Row) -->
<div class="panel-group cards two">
    <div class="panel panel-card blue">
        <div class="panel-heading">
            <h4 class="panel-title">Ignacio</h4>
        </div>
        <div class="panel-body">
            <p>Request, check the status, renew, and pay fines for Gleeson Library materials.</p>
        </div>
        <a class="panel-link" href="https://ignacio.usfca.edu/patroninfo"><span class="text">Login to My Library Record</span><i class="fa-regular fa-chevron-right"></i></a>
    </div>
    <div class="panel panel-card orange">
        <div class="panel-heading">
            <h4 class="panel-title">Illiad</h4>
        </div>
        <div class="panel-body">
            <p>Request and check the status of materials from other libraries and scans from Gleeson Library.</p>
        </div>
        <a class="panel-link" href="https://usfca.illiad.oclc.org/illiad/logon.html"><span class="text">Login to Illiad</span><i class="fa-regular fa-chevron-right"></i></a>
    </div>
    <div class="panel panel-card red">
        <div class="panel-heading">
            <h4 class="panel-title">MyEBSCO Folders</h4>
        </div>
        <div class="panel-body">
            <p>Access your Fusion & EBSCO saved articles and searches.</p>
        </div>
        <a class="panel-link" href=""><span class="text">Login to MyEBSCO Folders</span><i class="fa-regular fa-chevron-right"></i></a>
    </div>
    <div class="panel panel-card olive">
        <div class="panel-heading">
            <h4 class="panel-title">RefWorks</h4>
        </div>
        <div class="panel-body">
            <p>Access your saved citations and manage your bibliography.</p>
        </div>
        <a class="panel-link" href="https://library.usfca.edu/refworks"><span class="text">Login to RefWorks</span><i class="fa-regular fa-chevron-right"></i></a>
    </div>
</div>
