<!-- Cards — Image (3 in a Row) -->
<div class="panel-group three v-cards-image">
    <a href="https://library.usfca.edu/research-guides/community-engagement" class="panel v-panel-card-image turquoise">
        <img class="panel-image" src="https://libapps.s3.amazonaws.com/accounts/113182/images/go-read-2022.jpg">
        <div class="panel-text-container">
            <div class="panel-heading">
                <h4 class="panel-title">Community Engagement Guides</h4>
            </div>
            <div class="panel-body">
                <p>We are creating curated research guides for ADEI and social justice resources.</p>
            </div>
        </div>
    </a>
    <a href="https://library.usfca.edu/collections/collection-development-diversity-statement" class="panel v-panel-card-image orange">
        <img class="panel-image" src="https://libapps.s3.amazonaws.com/accounts/113182/images/books-cdds.jpg">
        <div class="panel-text-container">
            <div class="panel-heading">
                <h4 class="panel-title">Collection Development Diversity Statement</h4>
            </div>
            <div class="panel-body">
                <p>We are dedicated to building equitable and accessible collections.</p>
            </div>
        </div>
    </a>
    <a href="https://library.usfca.edu/harmful-language-statement" class="panel v-panel-card-image red">
        <img class="panel-image" src="https://libapps.s3.amazonaws.com/accounts/113182/images/cropped-atrium.jpg">
        <div class="panel-text-container">
            <div class="panel-heading">
                <h4 class="panel-title">Harmful Language Statement</h4>
            </div>
            <div class="panel-body">
                <p>We are confronting harmful language in our catalog records and finding aids.</p>
            </div>
        </div>
    </a>
</div>